{{ preheader }}

New Vrika contact form submission

To (team): {{ team_to_line }}

Name: {{ first_name }} {{ last_name }}
Email: {{ email }}
Company: {{ company }}
{% if phone %}Phone: {{ phone }}
{% endif %}

Message:
{{ message }}
